:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --pink: #F9C0AF;
  --opacity-pink: #f9c0af73;
  --dark-navy: #1F4550;
  --green: #788F74;
  --light-blue: #6FADDE;
  --dark-brown: #061824;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/background.jpg");
  background-size: 100% 100%;
}

.menu {
  margin-top: 2%; 
  padding-left: 5%;
  width: 7em;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.profileImage {
  border-radius: 5%;
  height: 25rem;
}

.aboutMeText {
  border-radius: 5%;
  background-color: var(--opacity-pink);
  padding: 5%;
}

.selectedMenuItem {
  border-radius: 8px;
  border: 1px solid transparent;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */